<div class="modal-container">
  <div class="modal-title">
    <div role="button" class="icon-button"></div>
    <div class="modal-header"></div>
    <div role="button" class="icon-button close-button" (click)="close()">
      <ion-icon name="gomoku-close"></ion-icon>
    </div>
  </div>

  <div class="modal-content game-over">
    <div class="game-result win">
      <span>you win</span>
    </div>

    <div class="emotion">
      <img src="/assets/icon/surprised.svg" >
    </div>

    <div class="difficulty">
      <div class="text">
        difficulty
      </div>

      <div class="chip">
        <div class="level easy">
          easy
        </div>
      </div>
    </div>
  </div>

  <div class="modal-action">
    <div role="button" class="raised-button modal-action-button" (click)="again()">
      again
    </div>
  </div>
</div>