<div class="modal-container">
  <div class="modal-title">
    <div role="button" class="icon-button"></div>
    <div class="modal-header"></div>
    <div role="button" class="icon-button close-button" (click)="close()">
      <ion-icon name="gomoku-close"></ion-icon>
    </div>
  </div>

  <div class="modal-content game-over">
    <ng-container [ngSwitch]="result">
      <ng-container *ngSwitchCase="'draw'" [ngTemplateOutlet]="draw"></ng-container>
      <ng-container *ngSwitchDefault [ngTemplateOutlet]="win"></ng-container>
    </ng-container>

    <ng-template #win>
      <div class="game-result win">
        <span>{{result}} win</span>
      </div>

      <div class="emotion">
        <img src="/assets/icon/shocked.svg" >
      </div>
    </ng-template>

    <ng-template #draw>
      <div class="game-result draw">
        <span>draw</span>
      </div>

      <div class="emotion">
        <img src="/assets/icon/cool.svg" >
      </div>
    </ng-template>
  </div>

  <div class="modal-action">
    <div role="button" class="raised-button modal-action-button" (click)="again()">
      <span>again</span>
    </div>
  </div>
</div>