.modal-title {
  height: 0;
}

.close-button {
  transform: translateX(10px);
}

.game-over {
  align-items: center;
  justify-content: center;
}

.game-result {
  width: 100%;
  margin-bottom: 1em;

  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.win {
  color: #e8de00;
}

.draw {
  color: #af40e0;
}

.emotion {
  width: 60%;
  margin-bottom: 12px;
}

.text {
  font-size: 1.5em;
}
