@font-face {
  font-family: "Baloo";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/font/Baloo2-Regular.ttf");
}

@font-face {
  font-family: "Baloo";
  font-style: normal;
  font-weight: medium;
  src: url("../assets/font/Baloo2-Medium.ttf");
}

@font-face {
  font-family: "Baloo";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/font/Baloo2-Bold.ttf");
}