<ion-app>
  <div class="app-container">
    <div class="app-header">
      <div>
        <div role="button" class="icon-button">
          <ion-icon name="gomoku-back"></ion-icon>
        </div>
      </div>

      <div class="header-title">gomoku</div>

      <div>
        <div role="button" class="icon-button">
          <ion-icon name="gomoku-more"></ion-icon>
        </div>
      </div>
    </div>

    <div class="app-content">
      <div class="game-status">
        your turn
      </div>

      <div class="game-board">

      </div>

      <div class="game-control">
        <div role="button" class="raised-icon-button">
          <ion-icon name="gomoku-undo"></ion-icon>
        </div>

        <div role="button" class="raised-button go-button">
          <span>go</span>
        </div>

        <div role="button" class="raised-icon-button" (click)="create()">
          <ion-icon name="gomoku-star"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-app>
