.stone-black, .stone-white, .option-icon {
  width: 30px;
  height: 30px;
}

.option {
  margin-left: 6px;
}

.icon {
  width: 26px;
  height: 26px;
  margin-top: 2px;
}

.block {
  margin-bottom: 12px;
}