<div class="modal-container">
  <div class="modal-title">
    <div role="button" class="icon-button"></div>
    <div class="modal-header">
      gomoku
    </div>
    <div role="button" class="icon-button close" (click)="close()">
      <ion-icon name="gomoku-close"></ion-icon>
    </div>
  </div>

  <div class="modal-content">
    <section class="block">
      <div class="text">
        play as
      </div>
      <div class="segments">
        <div class="segment active">
          <div class="stone-black"></div>
          <span class="option">black</span>
        </div>

        <div class="segment">
          <div class="stone-white"></div>
          <span class="option">white</span>
        </div>
      </div>
    </section>

    <section class="block">
      <div class="text">
        play against
      </div>
      <div class="segments">
        <div class="segment active">
          <div class="option-icon">
            <img class="icon" src="/assets/icon/robot.svg">
          </div>
          <span class="option">idiot</span>
        </div>

        <div class="segment">
          <div class="option-icon">
            <img class="icon" src="/assets/icon/human.svg">
          </div>
          <span class="option">human</span>
        </div>
      </div>
    </section>

    <section class="block">
      <div class="text">
        difficulty
      </div>
      <div class="segments">
        <div class="segment">
          <div class="option-icon">
            <img class="icon" src="/assets/icon/level-easy.svg">
          </div>
          <span class="option">novice</span>
        </div>

        <div class="segment active">
          <div class="option-icon">
            <img class="icon" src="/assets/icon/level-medium.svg">
          </div>
          <span class="option">easy</span>
        </div>

        <div class="segment">
          <div class="option-icon">
            <img class="icon" src="/assets/icon/level-insane.svg">
          </div>
          <span class="option">insane</span>
        </div>
      </div>
    </section>
  </div>

  <div class="modal-action">
    <div role="button" class="raised-button modal-action-button" (click)="confirm()">
      new game
    </div>
  </div>
</div>