body loader {
  display: none;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body.loader-show loader {
  display: flex;
  position: fixed;
  z-index: 9999;
}

body loader .loader-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  background: rgba(0, 0, 0, .32);
  opacity: 1;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
}

body loader .loader-wrapper {
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body loader .loader-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 44px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
  box-shadow:
    0 11px 15px -7px #0003,
    0 24px 38px 3px #00000024,
    0 9px 46px 8px #0000001f;
}

/* Spinner */

body loader .spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 56px;
}

body loader .spinner>div {
  width: 12px;
  height: 12px;
  background-color: #5a599e;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: splash-bounce-delay 1s infinite ease-in-out both;
  animation: splash-bounce-delay 1s infinite ease-in-out both;
}

body loader .spinner .bounce-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

body loader .spinner .bounce-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
