body splash-screen {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;

  visibility: visible;
  transition: all 0.5s ease-in-out;
  background-color: #A8C9DA;
  color: hsl(var(--p));
}

/* Company Logo */
body splash-screen svg {
  width: 220px;
  max-width: 220px;
  animation: splash-rotation 4s infinite linear;
}


body.splash-screen-hidden splash-screen {
  visibility: hidden;
  animation: splash-slide-out 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

/* Animations */

@keyframes splash-slide-out {
  0% {
    visibility: visible;
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(-100%);
  }
}

@keyframes splash-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}