<ion-content>
  <div class="app-container">
    <div class="app-header">
      <div>
        <div role="button" class="icon-button">
          <ion-icon name="gomoku-back"></ion-icon>
        </div>
      </div>

      <div class="header-title">gomoku</div>

      <div>
        <div role="button" class="icon-button">
          <ion-icon name="gomoku-more"></ion-icon>
        </div>
      </div>
    </div>

    <div class="app-content">
      <div class="game-status">
        <div class="stone" [ngClass]="control.color"></div>
        <div class="message">{{control.message}}</div>
      </div>

      <div class="game-area">
        <div class="game-play">
          <gomoku-game #game></gomoku-game>
        </div>
      </div>

      <div class="game-control">
        <div role="button" class="raised-icon-button" (click)="control.undo()">
          <ion-icon name="gomoku-undo"></ion-icon>
        </div>

        <div role="button" class="raised-button go-button" (click)="go()">
          <span>go</span>
        </div>

        <div role="button" class="raised-icon-button" (click)="control.create()">
          <ion-icon name="gomoku-star"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>